@mixin default_container($flex-direction: row, $row_gap, $column_gap: 0px)
  flex-direction: $flex-direction
  row-gap: $row_gap
  column-gap: $column_gap
  display: flex
%button
  padding: 7px
  border-radius: 5px
  font-size: 16px
  border: none
  transition: all 1s
  cursor: pointer

.order_item, .fast_actions
  @include default_container(row, 10px)
  column-gap: 20px

.orders_list_container
  @include default_container(column, 10px)
  padding-bottom: 20px


.field,  .label_order
  border: 1px rgba(128, 128, 128, 0.5) solid
  padding: 10px

.input_field
  border: 2px rgba(128, 128, 128, 1) solid

@mixin container_order()
  @include default_container(row, 10px)
  font-size: 20px
  column-gap: 10px
  justify-content: space-between
  border: #a5a5a5 2px solid
  padding: 20px
  align-items: center
.order_item_container
  @include container_order()
  border: #a5a5a5 2px solid
.cancel_field
  @include container_order()
  background-color: rgba(255, 0, 0, 0.15)
.archived_field
  @include container_order()
  background-color: rgba(255, 221, 0, 0.26)

.grey_order_item_container
  @include container_order()
  background: rgba(148, 148, 148, 0.35)

@media (max-width: 920px)
  .order_item_container, .grey_order_item_container, .cancel_field, .archived_field
    flex-direction: column
    align-items: center
.status
  text-align: center

@media (max-width: 500px)
  .fast_actions
    flex-direction: column



.nothing_found
  align-self: center
  text-align: center
  font-size: 20px
  padding: 20px
.promote_button
  @extend %button
  background: #006bae
  color: white
  &:hover
    background: rgba(0, 107, 174, 0.5)
  &:disabled
    background: rgba(0, 107, 174, 0.5)
    cursor: not-allowed

.link_item_button
  @extend %button
  background: rgba(165, 165, 165, 0.5)
  text-decoration: none
  color: black
  font-size: 20px
  &:hover
    background: rgba(165, 165, 165, 1)
  &:disabled
    background: rgba(165, 165, 165, 1)
    cursor: not-allowed
.change_button
  @extend %button
  background: #006bae
  color: white
  align-self: flex-start
  &:hover
    background: rgba(0, 107, 174, 0.5)
  &:disabled
    background: rgba(0, 107, 174, 0.5)
    cursor: not-allowed
.detailed_order_item
  display: grid
  grid-template-columns: repeat(2, 1fr)


.detailed_order_item_container
  @include default_container(column, 20px)
  width: 100%
.buttons_change_container
  @include default_container(row, 0, 10px)
  justify-content: space-between
.buttons_change_container_order
  @extend .buttons_change_container
  width: 100%
.search_orders_container
  @include default_container(column, 10px)
  align-items: center
.container_menu
  @include default_container(row, 0, 10px)
  justify-content: space-between
.label_search
  font-size: 18px
  font-weight: 500
.fields_search_container
  @include default_container(row, 10px, 10px)
  flex-wrap: wrap
  max-width: 900px
  justify-content: center
.field_search
  @include default_container(column, 5px)
.statuses_container
  display: grid
  grid-template-columns: repeat(2, 1fr)
  column-gap: 10px

@media (max-width: 520px)
  .statuses_container
    grid-template-columns: 1fr

.status_container
  @include default_container(row, 0px, 5px)
.container
  @include default_container(column, 20px)
  width: 100%
  height: 100%
  align-items: center
  justify-content: center
@media (max-width: 950px)
  .detailed_order_item_container ,.detailed_order_item, .items_grid
    overflow: scroll
.create_order_form
  @include default_container(column, 0px, 10px)
.items_grid
  display: grid
  grid-template-columns: repeat(8, 1fr)
  border: #a5a5a5 2px solid