@mixin default_container($flex-direction: row, $row_gap, $column_gap)
  flex-direction: $flex-direction
  row-gap: $row_gap
  column-gap: $column_gap
  display: flex

.items_list_container
  @include default_container(column, 5px, 0px)

.items_list
  display: grid
  grid-template-columns: repeat(8, 1fr)
  border: 1px rgba(128, 128, 128, 0.4) solid
@media (max-width: 950px)
    .items_list
      overflow: scroll

.search_items_container
  @include default_container(column, 20px, 0px)
  align-items: center
.items_list_all_container
  @include default_container(column, 20px, 0px)


