@mixin default_container($flex-direction: row, $row_gap, $column_gap)
  flex-direction: $flex-direction
  row-gap: $row_gap
  column-gap: $column_gap
  display: flex
%button
  border-radius: 5px
  font-size: 16px
  border: 1px black solid
  transition: all 1s
  cursor: pointer
.items_list_container
  @include default_container(column, 5px, 0px)
  padding-bottom: 20px

.items_list
  display: grid
  grid-template-columns: repeat(9, 1fr)
  //border: 1px rgba(128, 128, 128, 0.4) solid
@media (max-width: 950px)
    .items_list
      overflow: scroll

.search_items_container
  @include default_container(column, 20px, 0px)
  align-items: center
.items_list_all_container
  @include default_container(column, 20px, 0px)
  padding-bottom: 20px

.fields_sort
  @extend %button

.sort_container
  @include default_container(row, 10px, 10px)
  align-self: flex-end


