@mixin default_container($flex-direction: row, $row_gap)
  flex-direction: $flex-direction
  row-gap: $row_gap
  display: flex
  align-items: center
  justify-content: center
.signin_container
  @include default_container(column, 20px)
  height: 100%
.managers_container
  width: 100%
  @include default_container(column, 10px)


