@mixin default_container($flex-direction: row, $row_gap)
  flex-direction: $flex-direction
  row-gap: $row_gap
  display: flex

.signin_page_container, .not_found_page_container, .container
  @include default_container(column, 20px)
  width: 100%
  height: 100%
  align-items: center
  justify-content: center

.managers_page_container, .orders_page_container
  @include default_container(column, 10px)
  padding: 20px
  height: 100%
.orders_page_container
  @include default_container(column, 10px)

.order_page_container, .manager_page_container
  padding: 20px
  @include default_container(column, 10px)