@mixin default_container($flex-direction: row)
  display: flex
  flex-direction: $flex-direction

%container
  @include default_container(column)
  row-gap: 20px
  align-items: center
  justify-content: center

%button
  padding: 7px
  border-radius: 5px
  font-size: 16px
  border: none
  transition: all 1s
  cursor: pointer

.form_signin
  @extend %container
  padding: 20px
  width: 200px
  border-radius: 10px
  background: white
.form_create_manager
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 10px
  grid-template-areas: '. . . .' '. . . .' '. button button .'

.radio_input
  display: flex
  justify-content: center
  column-gap: 5px

.visibility_password
  @include default_container()
  align-self: flex-end
  align-items: flex-end
  column-gap: 5px

input, select
  font-size: 18px
  padding: 7px
  border: 1px gray solid

.default_button
  @extend %button
  width: 100%
  background: #006bae
  color: white
  grid-area: button

  &:hover
    opacity: 0.6

  &:disabled
    opacity: 0.8

header
  background: #006bae
  padding: 25px
  color: white
  display: flex
  justify-content: space-between

.button_out
  @extend %button
  &:hover
    background: #c0c0c0
    color: #6a6a6a

.error
  background: rgba(255, 0, 0, 0.1)
  padding: 5px
  color: red
  text-align: center
  width: 260px
  border: 2px rgba(255, 0, 0, 0.34) solid
  border-radius: 5px
  display: flex
  flex-direction: column
  row-gap: 10px
.error_button
  @extend %button
  background: rgba(255, 0, 0, 0.5)
  color: white
  &:hover
    background: rgba(255, 0, 0)
.navbar
  @include default_container()
  column-gap: 20px

.container
  width: 100%
  @include default_container(column)

.workspace
  @include default_container(column)
  height: 100%
  justify-content: center
  flex-grow: 1

.link
  border: none
  font-size: 20px
  color: white
  background: none
  transition: all 1s
  text-decoration: none
  &:hover
    color: #a5a5a5
.active
  border: none
  font-size: 20px
  color: #949494
  background: none
  transition: all 1s
  text-decoration: none
  &:hover
    color: #a5a5a5
.lds-spinner
  box-sizing: border-box

  div
    box-sizing: border-box

    &:after
      box-sizing: border-box
      content: " "
      display: block
      position: absolute
      top: 3.2px
      left: 36.8px
      width: 6.4px
      height: 17.6px
      border-radius: 20%
      background: currentColor

    transform-origin: 40px 40px
    animation: lds-spinner 1.2s linear infinite

    &:nth-child(1)
      transform: rotate(0deg)
      animation-delay: -1.1s

    &:nth-child(2)
      transform: rotate(30deg)
      animation-delay: -1s

    &:nth-child(3)
      transform: rotate(60deg)
      animation-delay: -0.9s

    &:nth-child(4)
      transform: rotate(90deg)
      animation-delay: -0.8s

    &:nth-child(5)
      transform: rotate(120deg)
      animation-delay: -0.7s

    &:nth-child(6)
      transform: rotate(150deg)
      animation-delay: -0.6s

    &:nth-child(7)
      transform: rotate(180deg)
      animation-delay: -0.5s

    &:nth-child(8)
      transform: rotate(210deg)
      animation-delay: -0.4s

    &:nth-child(9)
      transform: rotate(240deg)
      animation-delay: -0.3s

    &:nth-child(10)
      transform: rotate(270deg)
      animation-delay: -0.2s

    &:nth-child(11)
      transform: rotate(300deg)
      animation-delay: -0.1s

    &:nth-child(12)
      transform: rotate(330deg)
      animation-delay: 0s

  color: currentColor
  display: inline-block
  position: relative
  width: 80px
  height: 80px

@keyframes lds-spinner
  0%
    opacity: 1

  100%
    opacity: 0

