%button
  background: none
  border: none
  font-size: 16px
  transition: all 1s
  cursor: pointer
  border-radius: 5px
  padding: 10px

@mixin default_container($flex-direction: row, $row_gap)
  flex-direction: $flex-direction
  row-gap: $row_gap
  display: flex
.add_form_container
  align-self: center
  @include default_container(row, 10px)
.hidden_add_form_container
  display: none
.add_workers_button
  @extend %button
  align-self: center
  padding: 10px
  background: rgba(106, 106, 106, 0.36)
  &:hover
    background: rgba(0, 0, 0, 0.11)
  &:disabled
    background: rgba(0, 0, 0, 0.11)
    cursor: not-allowed
.managers_list_container
  @include default_container(column, 20px)

.managers_list
  @include default_container(column, 0px)
  border-top: 1px rgba(128, 128, 128, 0.5) solid
  font-size: 20px

.manager_item
  @include default_container(row, 0px)
  border-bottom: 3px rgba(128, 128, 128, 0.25) solid
  padding: 10px
  font-size: 20px
  column-gap: 10px
  cursor: pointer
  transition: all 1s
  &:hover
    background: rgba(128, 128, 128, 0.25)
  &:disabled
    background: rgba(128, 128, 128, 0.25)
    cursor: not-allowed
.change_possibilities_button
  @extend %button
  background: #006bae
  color: white
  &:hover
    background: rgba(0, 107, 174, 0.5)
  &:disabled
    background: rgba(0, 107, 174, 0.5)
    cursor: not-allowed
.link_item
  color: #333b40
  font-size: 18px
  transition: all 1s
  &:hover
    opacity: 0.7
.create_form_container
  @include default_container(column, 10px)
  align-items: center


.manager_item_container
  @include default_container(column, 10px)
  font-size: 20px
  align-items: center
.possibilities_manager_item_container
  display: flex
  flex-direction: column

.manager_list_item_container
  display: grid
  grid-template-columns: repeat(2, 1fr)
  row-gap: 10px
