%button
  background: none
  border: none
  font-size: 16px
  transition: all 1s
  cursor: pointer
  border-radius: 5px
@mixin default_container($flex-direction: row, $row_gap)
  flex-direction: $flex-direction
  row-gap: $row_gap
  display: flex
.add_form_container
  align-self: center
.hidden_add_form_container
  display: none
.add_workers_button
  @extend %button
  align-self: center
  padding: 10px
  background: rgba(106, 106, 106, 0.36)
  &:hover
    background: rgba(0, 0, 0, 0.11)
.managers_list_container
  @include default_container(column, 20px)

.managers_list
  @include default_container(column, 0px)


.manager_item
  @include default_container(row, 0px)
  border-bottom: 3px rgba(128, 128, 128, 0.25) solid
  padding: 10px
  font-size: 20px
  column-gap: 10px
  cursor: pointer
  transition: all 1s
  &:hover
    background: rgba(128, 128, 128, 0.25)
.link_item
  text-decoration: none
  color: black
  font-size: 20px

.manager_item_container
  @include default_container(column, 10px)
  font-size: 20px